/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Main Content (with background) */
.home-section-one {
  position: relative;
  background-image: url("/public/assets/images/mainbanner.jpg");
  background-size: cover;
  background-position: center;
  height: 110vh;
  width: 100%;
  background-position-y: -30px;
  object-fit: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Hero Section */
.home-section-one .hero {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home-section-one .inner-content {
  position: relative;
  display: flex;
  gap: 13px;
  padding: 32px 20px 10px 20px;
}

.home-section-one .inner-content::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);

  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  z-index: -100;
  border-radius: 10px;
}

.home-section-one .inner-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.home-section-one .inner-content p {
  font-size: 24px;
  margin-bottom: 30px;
}

.home-section-one .inner-content .download-buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 18px;
}

.home-section-one .inner-content .download-buttons .btn {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

/* Side content (Right sidebar) */
.home-section-one .side-content {
  position: absolute;
  right: 0;
  background-image: url(/public/assets/images/sidebg.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.home-section-one .side-item {
  padding: 20px;
}

.home-section-one .side-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.home-section-one .side-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 15px;
}

.home-section-one .side-buttons .btn {
  display: block;
  text-align: center;
}

.home-section-one .side-buttons img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Section Two */

.home-section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/public/assets/images/bgcontent1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 70vh;
}

.home-section-two .image-placeholder {
  width: 100%;
  height: 400px;
  background-color: #d8d8d8;
  border-radius: 10px;
  /* background-image: url('assets/images/placeholder.jpg'); */
  background-size: cover;
  background-position: center;
}

.home-section-two .tab-content {
  padding: 20px;
  /* background-color: #fff; */
  border-radius: 10px;
}

/* End Section Two */

/* Section Three */

.equal-height-row {
  display: flex;
  flex-wrap: wrap;
}

.equal-height-col {
  display: flex;
}

.card1 {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* End Section Three */
